body{
    background-color: black;
    color:beige; 
}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
}

p{
    border: 1px solid bisque;
}