
body{
    background-color:white;
    color:black; 
    text-align: center;
    
    
    display: grid;
     grid-template-columns:1fr 1fr;
     grid-template-rows: 80px 50px auto 50px;
     grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
    
}


h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}
h2{
    text-align: center;
    color: black;

}
p:nth-child(2){
    border: 3px solid;
    
}

p:nth-child(3){
    border:3px solid;
 
}
p:nth-child(5) {
    background-color: white;
}
p:nth-child(6){
    background-color:white;
    
}
a{
    text-decoration: none;
}
main{
    background-color: white;
    grid-area: main;
}
aside{
    grid-area: aside;
}
nav{
    grid-area: nav;
    background-color: white;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0%;
    margin: 0%;
}

nav li{
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}

nav a{
    text-decoration: none;
}
footer{
    grid-area: footer;
    background-color: azure;
}
