
body{
    background-color:lightslategray;
    color:black; 
    text-align: center;
    
    
    display: grid;
     grid-template-columns:1fr 1fr;
     grid-template-rows: 80px auto auto 50px;
     grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "main aside"
    "footer footer";
    
}


h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}
h2{
    text-align: center;
    color: black;

}
p:nth-child(5) {
    background-color:lightslategray;
}
p:nth-child(6){
    background-color:lightslategray;
    
}
a{
    text-decoration: none;
}
main{
    background-color:lightblue;
    grid-area: main;
    border-style: solid;
    font-family:Georgia, 'Times New Roman', Times, serif
}
aside{
    grid-area: aside;
    background-color: lightblue;
    border-style: solid;
    font-family:Georgia, 'Times New Roman', Times, serif
}
nav{
    grid-area: nav;
    background-color:lightslategray;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0%;
    margin: 0%;
}

nav li{
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}

nav a{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif
}   
footer{
    grid-area: footer;
    background-color: lightslategray;
}
