table{
 border: solid black;
 width: 200px;
 height: 200px;
}
.one{
    background-color: blue;
}
.two{
    background-color: red;
}
.three{
    background-color: yellow;
}
.four{
    background-color: black;
}
.five{
    background-color: green;
}