body{
    /* Gör bakrundsfärgen på hemsidan till bisque */
    background-color:bisque;
}
.wrapper{
    /*Wrapper för sida 1*/
    display: grid;
    /* display grid skapar ett grid */
    /* bestämmer storleken på kolumen */
    grid-template-columns:1fr;
    /* Sätter storleken på 4 rader */
    grid-template-rows: 60px 40px auto 80px;
    /* Skapar mallen för grids på hemsidan */
    grid-template-areas:
    "header"
    "nav "
    "main"
    "footer";
}
/* skapar en wrapper specielt för sida 2 */
#sida2 > .wrapper{
    /* Wrapper för sida 2 */
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
}

#sida3 > .wrapper{
    /* Wrapper för sida 3 */
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer"; 
}
header{
    /* Placerar headern i grid, lägger texten center */
    grid-area:header;
    text-align:center;
}
nav{
    /* Placerar nav i grid, lägger texten & den svarta baren i center */
    grid-area:nav;
    text-align:center;
}
nav ul{
    /* Gör bakgrunds färgen på nav till svart, ta bort margin & padding */
    overflow:hidden;
    padding: 0%;
    margin: 0%;
    background-color:black;
}
li{
    /* Flytar texten mot vänster på sidan */
    float:left;
}
nav a{
    /* Gör nav texten vit, tar bort understräck på text i nav, byter färg på texten till vit, ändrar mellanrumet mällan texten i nav, ändrar storlek på texten i nav */
    text-decoration:none;
    color:white;
    padding:30px;
    font-size:20px;
}
li a:hover{
    /* Gör min global menys bakgrundsfärg till svart */
    background-color:black;
}
th,td{
    /* Sätter en border runt tabellen,sida3 samt bestämmer tjoklek på bordern & sätter texten i center */
    border:1px solid;
    width: 25%;
    text-align: center;
}
tr:nth-child(2n){
    /* Sätter Zebra striping på tabellen,sida 3 */
    background-color:coral;
}   
table{
    /* Flyttar tabellen,sida3 mot mitten av asiden */
    border-spacing: 0ch;
    margin-left: 30%;
    margin-right: 25%;
}
main{
    /* Lägger main i grid och flytar texten till mitten */
    grid-area:main;
    text-align:center;
}
aside{
    /* Lägger aside i grid och flyttar texten till mitten */
    grid-area:aside;
    text-align: center;
}
footer{
    /* Lägger footer i grid och flyttar texten till mitten */
    grid-area:footer;
    text-align:center;
}
