body{
    display: grid;
    grid-template-columns:1fr;
    background-color:cyan;
    grid-template-rows: 60px 40px auto 40px;
    grid-template-areas:
    "header"
    "nav "
    "main"
    "footer";
}
header{
    grid-area:"header";
    text-align:center;
}
nav{
    grid-area:"nav";
    text-align:center;
}
nav ul{
    /*display:grid;*/
    list-style-type:none;
    /*grid-template-columns:1fr 1fr;*/
    overflow:hidden;
    padding: 0%;
    margin: 0%;
    background-color:black;
}
li{
    float:left;
}
nav a{
    text-decoration:none;
    color:white;
    text-align:center;
    padding:30px;
    /*font-size:25px;*/
}
li a:hover{
    background-color:black;
}

main{
    grid-area: "main";
    text-align:center;
}
footer{
    grid-area:"footer";
    text-align:center;
}