.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto auto 30px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
nav>ul{
    display: grid;
    grid-template-rows: auto;
    padding: 0;
    margin: 0;
    height: 100%;
}
nav>li{
    height: 100%;
    list-style-type:none ;
}
nav a{
    height: 100%;
    width: 100%;
    display: inline-block;
    text-decoration: none; 
}
main{
    grid-area: main;
    display: grid;
    grid-template-rows: auto;
}
footer{
    grid-area: footer;
}

@media screen and (min-width: 600px){
    body{
        height: 95vh;
    }
    .wrapper{
        grid-template-rows: 50px 50px auto 30px;
        width: 90%;
        height: 95%;
        margin: 0 auto;
    }
    nav>ul{
        grid-template-columns: 1fr 1fr 1fr;
    }
    main{
        grid-template-columns: 1fr 2fr;
    }
    main section:nth-child(2){
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}